version: '3'
services:
  nginx:
    build: ./nginx/
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./nginx/nginx.conf:/etc/nginx/nginx.conf"
      - "./nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - "./nginx/ssl.conf:/etc/nginx/ssl.conf"
      - "./nginx/expires.conf:/etc/nginx/expires.conf"
      - "/var/www/seds/:/var/www/seds"
      - "/opt/certs/:/opt/certs"
      - "/etc/letsencrypt/:/etc/letsencrypt"
    container_name: "nginx"
    logging:
      driver: "journald"
    restart: always
